extends base.pug

block scripts 
  scripts(src='/static/index.js')

block style   
    style 
      include ../static/style.css

block content      
    section#introSection 
         div welcome to Shubham's Dance Academy
         div.small Eat Sleep Dance Repeat

    section#missionSection 
        h2 Our Mission    
        div.card
            h3 Dream like a star.
            div.card-box
                div.card-img  
                    img(src="/static/img/png 1.png")
                div.card-content     
                    p This is the best dance academy  of the universe.

        div.card
            h3 Live like a star.
            div.card-box
                div.card-img  
                    img(src="/static/img/png 2.png")
                div.card-content     
                    p This is the best dance academy  of the universe.
                       
        div.card
            h3 Achieve it is like a star.
            div.card-box
                div.card-img  
                    img(src="/static/img/png 3.png")
                div.card-content     
                    p This is the best dance academy  of the universe.

    section#sponsersSection 
           h2 Our Sponsers
           div#sponsers 
               img(src="/static/img/logo 2.png", alt="Sponser Image" , Class="spImage")
               img(src="/static/img/logo 3.png", alt="Sponser Image" , Class="spImage")
               img(src="/static/img/logo 5.png", alt="Sponser Image" , Class="spImage")
               img(src="/static/img/logo4.png", alt="Sponser Image" , Class="spImage")
